:root {
    --purple: #8c52ff;
    --yellow: #ffbd4a;
    color: var(--yellow);
}

@font-face {
    font-family: Norwester;
    src: url("/fonts/norwester/norwester.otf")
}

@font-face {
    font-family: Aileron;
    src: url("/fonts/aileron/Aileron-Regular.otf");
}

* {}

*::before {}

*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    background-color: black;
    color: var(--yellow);
}

body {
    max-width: 100%;
    margin: 0;
    line-height: 1.5;
    font-family: Aileron;
}

.sticky {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#column1 {
    grid-row: 1;
}

#column2 {
    color: var(--purple);
    background-color: var(--yellow);
    padding: 1em;
    min-height: 60vh;
}

#column2 h1,
#column3 h1 {
    font-family: Norwester;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 5rem);
}

#column3 h2,
#column3 h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

td.bold {
    font-weight: bolder;
}

#column3 {
    font-family: Aileron;
    grid-row: 3;
    background-color: var(--purple);
    color: var(--yellow);
    padding: 1em;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-row: 1;
}

header h1 {
    font-size: 5em;
    font-family: Norwester;
    color: var(--purple);
}

nav {
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0.1em;
    position: sticky;
    z-index: 2;
    background-color: black;
}

nav a {
    font-family: Aileron;
    font-size: clamp(0.8em, 5vw, 1.5em);
    display: inline-block;
    color: var(--yellow);
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

.navlink::after {
    content: "";
    display: block;
    transform: scale(0, 0);
    transition: ease-in-out 250ms;
    border-bottom: 0.3rem solid var(--purple);
}

nav a:hover::after {
    transform: scale(1, 1);
}

.selected {
    border-bottom: 0.3rem solid var(--purple);
}

#logo {
    position: relative;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em;
}

i {
    padding: 0.5em;
    margin: auto;
}

i,
a {
    color: var(--yellow);
}

i:hover {
    color: var(--purple);
}

.center {
    margin: auto;
    padding: 0.1em;
}

#socialMedia {
    position: relative;
    display: flex;
}