:root {
    --purple: #8c52ff;
    --yellow: #ffbd4a;
    color: var(--yellow);
    font-family: Norwester;
}

@font-face {
    font-family: Norwester;
    src: url("/fonts/norwester/norwester.otf")
}

@font-face {
    font-family: Aileron;
    src: url("/fonts/aileron/Aileron-Regular.otf");
}

html {
    background-color: black;
    color: var(--yellow);
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
}

nav a {
    font-family: Aileron;
    display: inline-block;
    color: var(--yellow);
    text-decoration: none;
    position: relative;
    text-align: center;
    margin: auto;
}

#logo {
    position: relative;
    grid-column: 2;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

i {
    padding: 0.5em;
    margin: auto;
}

i,
a {
    color: var(--yellow);
}

.center {
    margin: auto;
    padding: 0.1em;
    grid-column: 2;
}

#socialMedia {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}